/* Google Fonts - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  padding-top: 9rem;
  min-height: 100vh;
  justify-content: center;
  background-color: #dcd9d4;
  background-image: linear-gradient(
    to bottom,
    rgb(90 88 88 / 50%) 28%,
    rgba(255, 255, 255, 0.5) 30%
  );
  background-blend-mode: soft-light, screen;
}
.input-box {
  position: relative;
  height: 76px;
  max-width: 900px;
  width: 100%;
  background: #fff;
  margin: auto;
  border-radius: 8px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.input-box i,
.input-box .button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.input-box i {
  left: 20px;
  font-size: 30px;
  color: #707070;
}
.input-box input {
  height: 100%;
  width: 100%;
  outline: none;
  font-size: 18px;
  font-weight: 400;
  border: none;
  padding: 0 155px 0 65px;
  background-color: transparent;
  
}
.input-box .button {
  right: 20px;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  border: none;
  padding: 12px 30px;
  border-radius: 6px;
  background-color: #4070f4;
  cursor: pointer;
}
.input-box .button:active {
  transform: translateY(-50%) scale(0.98);
}
/* Dropdown Menu code start */
.links {
  width: 900px;
  background: #eee;
  margin: auto;
  list-style: none;
  margin-bottom: 3rem;
}
.links ul {
  position: absolute;
  background: #171c24;
  top: 80px;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
}
.links li {
  padding: 12px;
}
.links li:hover > ul {
  top: 70px;
  opacity: 1;
  visibility: visible;
  transition: all 0.3s ease;
}
.links li a {
  display: block;
  width: 100%;
  line-height: 30px;
  text-decoration: none;
  color: #000;
  /* border-radius: 0px!important; */
}
.links ul ul {
  position: absolute;
  top: 0;
  right: calc(-100% + 8px);
}
.links ul li {
  position: relative;
}
.links ul li:hover ul {
  top: 0;
}
.name-desc{
  width: 68%;
  margin: auto;
  font-size: 18px;
  background: #eee;
  padding: 16px;
  text-align: center;
  direction: rtl;
  border-radius:7px;
  -webkit-border-radius:7px;
  -moz-border-radius:7px;
  -ms-border-radius:7px;
  -o-border-radius:7px;
  margin-bottom:3rem ;
}
/* Responsive */
@media screen and (max-width: 500px) {
  .input-box {
    height: 66px;
    margin: 0 8px;
  }
  .input-box i {
    left: 12px;
    font-size: 25px;
  }
  .input-box input {
    padding: 0 112px 0 50px;
  }
  .input-box .button {
    right: 12px;
    font-size: 14px;
    padding: 8px 18px;
  }
}
